.base-bg{
    background-image: linear-gradient(#6EBF8B, #39AEA9);
}
.common-btn{
    background-image: linear-gradient(#34BE82, #3E7C17);
    color: white;
    font-weight: 600;
}

.hover1:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.review-bg {
    background-image: linear-gradient(#F7F7F7, #EFFFFB);
}
.my-item-img{
    width:60px;
    height: 60px;
    border-radius: 50%;
}
