.App {
  text-align: center;
}

.bg-dashboard{
     background-image: linear-gradient(#2F8F9D, #14C38E); 
}
.home-bg{
     background-image: linear-gradient(#F7F7EE, #ECF4F3); 
}
.bg-blogs{
     background-image: linear-gradient(#3C9D9B, #14C38E); 
}
.portfolio-bg{
     background-image: linear-gradient(#3C9D9B, #14C38E); 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


